.audio-play-button {
    background-color: var(--primary-button);
    border: none;
    color: var(--text-primary);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .audio-play-button:hover {
    background-color: var(--button-primary-hover);
    color: var(--text-primary);
  }
  
  .audio-play-button.playing {
    background-color: #f44336; /* Red */
    border: none;
    color: var(--text-primary);
  }
  
  .sample-controls {
    margin: 20px 0;
  }
  